@tailwind base;
@tailwind components;
@tailwind utilities;

.outline {
    color: white;
    outline-style: none;
    text-shadow:
     -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000
}

/* Real outline for modern browsers */
@supports((text-stroke: 0.5px white) or (-webkit-text-stroke: 0.5px white)) {
    .outline {
        color: transparent;
        -webkit-text-stroke: 0.5px white;
    text-stroke: 0.5px white;
        text-shadow: none;
    }
}